// Styles écran principal
// ======================

// Calage du tableau pour que les jauges prennent le maximum de place,
// et que les boutons d’ajout ou icônes de complétion soient bien
// alignés verticalement.
.goalTracker
  .goal
    display: flex
    flex-wrap: nowrap
    align-items: center
  .summary
    flex-grow: 1
  .cta
    margin: auto 0 0.25em 0.5em
